<section>
  <div class="template-404 page-width page-margin center">
  <p class="">
    {{ section.settings.page.content }}
  </p>
</div>

  <div>
 
  </div>
</section>


{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "sections.page.settings.page.label",
      "info":"sections.page.settings"
    }
  ],

  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}