{% style %}
    .about_info{
      max-width: 80rem;
      margin: 0 auto;
      border: solid 3px;
    }

   .about_info p{
    font-weight: bold;
     text-align: center;
     font-size: 1.2rem;
   }

  .about_video video{
      width: 100%;
      object-fit: cover;
  }
{% endstyle %}

<section>
  <div class="about_video">
    {{ section.settings.test_video | video_tag: loop: true, autoplay: true, muted: true }}
  </div>

  <div class="about_info">
    <p class="">
      {{ section.settings.page.content }}
    </p>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "sections.page.settings.page.label",
      "info":"sections.page.settings"
    },
        {
      "type": "header",
      "content": "Add video"
    },
    {
      "type": "paragraph",
      "content": "WARNING! Choose one of the video options, not allowed to use both"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "OPTION 1 - Add video url, only mp4 (NO YOUTUBE)"
    },
          {
      "type": "video",
      "id": "test_video",
      "label": "test_video"
          },

    {
      "type": "video_url",
      "id": "embed_video_url",
      "label": "Option 2 - Add video url (ONLY YOUTUBE)",
      "accept": ["youtube"]
    },
    {
      "type": "checkbox",
      "id": "autoplay_video",
      "label": "Make video play automatically",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "controls_video",
      "label": "Enable video controls",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "mute_video",
      "label": "Mute video",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "loop_video",
      "label": "Loop video",
      "default": true
    }
  ],

  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
