<div class="ueq-footer-container">
    <div class="ueq-footer-wrapper">
        <div class="ueq-footer">
            <p>PASSENGER ID: <span id="random-id-value"></span></p>
        </div>
    </div>
</div>